* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    animation: fadeSlideUp 2s ease-in-out; 
}
p{
    font-size: 25px;
    color: #333;
    margin-bottom: 20px; 
}

.login-btn{
    background-color: #4CAF50;
    
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    
}
.login-btn a{
    text-decoration: none;
    color: white;
}

.login-btn:hover {
    background-color: #45a049;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
